*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}
/* common */
.secound-section-content , .squares , .rectangle-allert , .third-section-head , .square-services-section , .square456-services-section ,.skills-secion-header ,.skills-section-second-p , .bars , .education-header , .education-collapse , .experience-header , .circle-one , .circle-two , .circle-three , .circle-four , .first-card , .second-card , .third-card , .fourth-card , .section-work-header , .section-work-ul , .first-image-work , .second-image-work , .third-image-work , .fourth-image-work , .fifth-image-work , .six-image-work , .btn-load-more , .blog-header , .conect-header ,.blog-items ,  .blog-item-two , .blog-item-three , .btn-load-more2 , .right-inputs , .frist-left-inputs , .second-left-inputs , .third-left-inputs{
    visibility: hidden;
}
a{
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
}
h2{
    font-family: "Playfair Display";
    text-transform: capitalize;
}
.container{
    margin: auto;
    width: 87%;
}
.clear{
    clear: both;
}
.padding-every-section{
    padding: 0 70px 0 4%;
}
.every-section-header-p{
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #595353;
    letter-spacing: 4px;
    font-size: 12px;
}
.every-section-header-h2{
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    font-weight: 500; 
    margin-bottom: 60px;
    letter-spacing: 5px;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: bold;
    line-height: 1.8;
}
.btn-load-more , .btn-load-more2{
    text-transform: capitalize;
}
.border-bottom-blue{
    border-bottom: 2px solid #2c98f0;
}
.border-bottom-red{
    border-bottom: 2px solid #ec5453;
}
.border-bottom-yellow{
    border-bottom: 2px solid #f9bf3f;
}
.border-bottom-purple{
    border-bottom: 2px solid #a84cb8;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}
.animated2s {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}
.animated3s {
    animation-duration: 3s;
    animation-fill-mode: both;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both
}
.animated4s {
    animation-duration: 4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 4s;
    -webkit-animation-fill-mode: both;

}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
@-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-30px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-30px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}
 
.fadeInLeft {
 -webkit-animation-name: fadeInLeft;
 animation-name: fadeInLeft;
} 
@-webkit-keyframes fadeInRight {
    0% {
       opacity: 0;
       -webkit-transform: translateX(30px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
}
 
@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(30px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}
 
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
/* main section */
.page-main-content{
    position: relative;
}
/* fixed section */
.menu-icon{
    position: fixed;
    font-size: 24px;
    top: 30px;
    left: 30px;
    z-index: 11;
    cursor: pointer;
    /* position: absolute; */
}
.fixed-section{
    background: #f2f3f7;
    width: 300px;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
    padding: 40px 0;
    position: fixed;
}
.fixed-section .my-image{
    margin-bottom: 30px;
}
.fixed-section .my-image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.fixed-section-content p:nth-child(2){
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}
.fixed-section-content p a{
    text-transform: uppercase;
    color: #2c98f0;
    letter-spacing: 1px;
}
.fixed-section-content h2{
    margin-bottom: 19px;
}
.fixed-section-content p{
    margin-bottom: 30px;
}
.fixed-section-content nav ul li{
    margin-bottom: 18px;
}
.fixed-section-content nav ul a {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 2px;
    font-size: 15px;
    position: relative;
    letter-spacing: 1px;
}
.fixed-section-content nav ul a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #2c98f0;
    transition: width .5s;
}
.fixed-section-content nav ul li:hover a::after{  
    width: 100%;
}
.fixed-section-content nav ul li .active{
    color: #2c98f0;
    border-bottom:solid 2px #2c98f0;
}
.fixed-section-content nav ul{
    margin-bottom: 50px;
}
.fixed-section-content p:nth-child(4){
    margin-bottom: 0;
    line-height: 28px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    text-transform: capitalize;
}
/* page content */
.page-content{
    margin-left: 27%;
    width: 78%;
    transition:margin .7s;

}
/* first section */
.frist-section{
    width: 75%;
    margin-left: 25%;
    transition:margin .7s;
}
.first-section-img{
    background: url(../img/img_bg_1.jpg.webp);
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
.first-section-content{
    padding-top: 20%;
    padding-left: 6%;
}
.first-section-content h2{
    font-size: 50px;
    margin-bottom: 30px;
}
.first-section-content p{
    line-height: 28px;
    font-size: 20px;
    font-weight: 300;
    font-family: "Quicksand", Arial, sans-serif;
    color: #b1a0a0;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.first-section-content button{
    text-transform: uppercase;
    font-family: "Quicksand", Arial, sans-serif;
    padding: 15px;
    letter-spacing: 3px;
    cursor: pointer;
}
.first-section-content button i{
    font-size: 17px;
}
.first-section-scond-img{
    background: url(../img/img_bg_2.jpg.webp);
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
.links{
    margin-top: 60px;
}
.links a{
    color: #595353;
    font-size: 23px;
    width: 30px;
    height: 30px;
    margin-right: 18px;
}

/* secound section */
.secound-section{
    margin-top: 200px;
}

.secound-section p:nth-child(3){
    color: #595353;
    margin-bottom: 30px;
    line-height: 32px;
}
.secound-section p:nth-child(3) span{
    font-weight: 700;
    text-transform: capitalize;
}
.secound-section p:nth-child(4){
    color: #595353;
    margin-bottom: 20px;
    line-height: 32px;
    margin-bottom: 35px;
}
 
/* four squers */
.squares{
   margin-bottom: 100px;
}
.squares div{
    float: left;
    width: 22%;
    height: 150px;
}
.square-one ,.square-two,.square-three,.square-four{
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);

}

.square-two {
    margin-left: 2%;
}
.square-three{
    margin: 0 2%;
}
.square-one i{
    color: #2c98f0;
}
.square-two i {
    color: #ec5453;
}
.square-three i{
    color: #f9bf3f;
}
.square-four i{
    color: #a84cb8;
}
.squares div p {
    margin-top: 18%;
    text-transform: capitalize;
    font-size: 18px;
    margin-left: 20px;
    color: #595353;
    font-weight: 400;
}
.squares div i {
    margin: 20px 0 0 25px;
    font-size: 28px;
}
/*  rectangle allert */
.rectangle-allert{
    padding: 25px 4%;
    background-color: #f9bf3f;
    margin:300px 0 200px 5px;
    width: 96%;
}
.rectangle-allert-p{
    color: #000;
    font-family: "Playfair Display", Georgia, serif;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 30px;
    line-height: 40px;
}
section div[class="rectangle-allert"] p {
    color: #000;
    font-family: "Playfair Display", Georgia, serif;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 30px;
    line-height: 40px;
}
.rectangle-allert button{
    padding: 7px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #f9bf3f;
    width: 110px;
    border: 1px solid #000;
}
/* third section */
.third-section{
    margin: 0 50px 0 4%;
}
.third-section-head .what-i-do{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 14px;
    color: #595353;
}
.third-section-head .secound-p-third-section{
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 4px;
    line-height: 37px;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: bold;
    margin-bottom: 100px;
}
.square-services-section , .square456-services-section{
    display: flex;
    gap: 30px;
    margin-top: 120px;
}
.first-square-services , .second-square-services , .third-square-services{
    position: relative;
    width: 30%;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px;
}
.square-services-section h3 ,.square456-services-section h3{
    margin:50px 0 22px 0 ;
    text-transform: uppercase;
    font-size: 17px;
}
.square-services-section p , .square456-services-section p{
    color: rgba(0, 0, 0, 0.7);
    text-transform: capitalize;
    line-height: 1.8;
    font-size: 15px;
}
.ggg{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50% , -50%);
}
.hexagon-one{
    background: #2c98f0;
}
.hexagon-one::before{
    border-bottom: 28.8675px solid #2c98f0;
}
.hexagon-one::after{
    border-top: 28.8675px solid #2c98f0;
}
.hexagon-two{
    background: #ec5453;
}
.hexagon-two::before{
    border-bottom: 28.8675px solid #ec5453;
}
.hexagon-two::after{
    border-top: 28.8675px solid #ec5453;
}
.hexagon-three{
    background: #f9bf3f;
}
.hexagon-three::before{
    border-bottom: 28.8675px solid #f9bf3f;
}
.hexagon-three::after{
    border-top: 28.8675px solid #f9bf3f;
}
.hexagon-four{
    background: #a84cb8;
}
.hexagon-four::before{
    border-bottom: 28.8675px solid #a84cb8;
}
.hexagon-four::after{
    border-top: 28.8675px solid #a84cb8;
}
.hexagon-five{
    background: #2fa499;
}
.hexagon-five::before{
    border-bottom: 28.8675px solid #2fa499;
}
.hexagon-five::after{
    border-top: 28.8675px solid #2fa499;
}
.hexagon-six{
    background: #4054b2;
}
.hexagon-six::before{
    border-bottom: 28.8675px solid #4054b2;
}
.hexagon-six::after{
    border-top: 28.8675px solid #4054b2;
}

#hexagon {
    width: 100px;
    height: 57.735px;
    position: relative;
}
#hexagon::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

#hexagon::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}
.icon{
    position: absolute;
    color: #fff;
    font-size: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.m-b{
    margin-bottom: 100px;
}
/*  third section fixed img*/
.fixed-image{
    margin-top: 100px ;
    margin-bottom: 120px;
    background-image: url(../img/cover_bg_1.jpg.webp);
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 45vh;
    display: flex;
    padding: 10% 0 0 0;
    position: relative;
}
.fixed-image .number-third-section{
    width: 25%;
    text-align: center;
    z-index: 1;
}
.number-third-section h2{
    font-size: 40px;
    margin-bottom: 15px;
    color: #fff;
}
.number-third-section p{
    font-family: "Quicksand", Arial, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 5px;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 14px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
/* skills section */

.skills-section > p{
    color: #595353;
    margin-bottom: 50px;
    line-height: 32px;
}
/* aducation sction */
.education-section {
    margin-top: 200px;
    margin-bottom: 200px;
    
}
.education-collapse{
    width: 95%;
}
.button-collapse{
    padding: 20px 30px;
}
.button-collapse:focus{
    background-color: #2c98f0;
    color: #fff;
}


/* section-work */

.section-work{
    margin: 0 0 100px 0;
}
.section-work ul {
    list-style: none;
    display: flex;    
    gap: 20px;
    margin-bottom: 80px;
}
.section-work li {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
}
.section-work li:nth-child(1){
    color: #2c98f0;
}
.section-work-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
}
.section-work-images div{
    width: 48%;
    height: 300px;
    object-fit: cover;
    background-size: cover;
}
.section-work-images div:nth-child(1){
    background-image: url(../img/img-1.jpg.webp);
}
.section-work-images div:nth-child(2){
    background-image: url(../img/img-2.jpg.webp);
}
.section-work-images div:nth-child(3){
    background-image: url(../img/img-3.jpg.webp);
}
.section-work-images div:nth-child(4){
    background-image: url(../img/img-4.jpg.webp);
}
.section-work-images div:nth-child(5){
    background-image: url(../img/img-5.jpg.webp);
}
.section-work-images div:nth-child(6){
    background-image: url(../img/img-6.jpg.webp);
}
.btn-primary {
    background: #2c98f0;
    color: #fff;
    border: 2px solid #2c98f0;
    width: 100%;
}
/* blog-content */
.blog{
    margin: 0 0 120px 0;
}
.blog-items {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}
.blog-items img{
    width: 100%;
    height: 160px;
    max-height: 160px;
    transition: 0.6s;
}
.blog-itemss:hover img{
   scale: 1.1;
}
.blog-img{
    overflow: hidden;
    max-height: 160px;
    margin-bottom: 20px;
}
.blog-items > div{
    width: 39%;
}

.blog-content p:nth-child(1){
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.blog-content h6{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.blog-content p:nth-child(3){
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 27px;
}
/* inputs */
.contact-section{
    margin: 0 0 150px 0;
}
.inputs{
    display: flex;
}
.inputs div{
    width: 50%;
}
.right-inputs input , textarea{
   width: 90%;
   padding: 6px 16px;
   height:60px;
   background: #f2f3f7;
   text-transform: capitalize;
   border: 0;
   margin-bottom: 15px;
   outline: 0;
}
.right-inputs textarea{
    padding-top: 12px;
}
.right-inputs .message{
    height: 150px;
}
.btn-send-message{
    background-color: #2c98f0;
    width: 140px;
    height: 40px;
    padding: 9px;
    color: rgb(245, 238, 238);
    text-transform: uppercase;
    font-size: 12px;
    
}
.left-inputs{
    width: 50%;
}
.left-inputs div{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin: 0 0 40px 0 ;

}
.left-inputs div span{
    width: 100px;
    height: 100px;
    background: #f2f3f7;
    text-align: center;
}
.left-inputs div span i{
    line-height: 100px;
    font-size: 27px;
    color: #2c98f0;
}
.left-inputs div p{
    color: #2c98f0;
}

/* media 000 */
@media screen and (min-width:1300px){
    .page-main-content{
        max-width: 1140px;
        margin: auto;
        width: 87%;
    }
    .page-content{
        margin-left: 27%;
        width: 80%;
    }
    .frist-section{
        width: 76%;
    }
    .menu-icon {
        padding-left: 100px;
        z-index: -1;
    }
    
}
@media (min-width:1200px) and (max-width:1300px){
    .page-main-content{
        max-width: 1140px;
        margin: auto;
        width: 87%;
    }
    .page-content{
        margin-left: 27%;
        width: 80%;
    }
    .frist-section{
        width: 76%;
    }
    .fixed-image{
        width: 97%;
        margin-left: 3%;
    }
    .menu-icon {
        padding-left: 100px;
        z-index: -1;
    }
}
@media (min-width:1000px) and (max-width:1200px) {
    .menu-icon {
        padding-left: 100px;
        z-index: -1;
    }
    .page-main-content{
        width: 96%;
    }
    .page-content{
        margin-left: 28%;
        width: 76%;
    }
    .frist-section{
        margin-left: 29%;
    }
    .first-section-content{
        padding-left: 12%;
    }
    .padding-every-section{
        padding: 0 70px 0 7%;
    }
    .third-section{
        margin: 0 50px 0 7%;
    }
    .fixed-image{
        width: 94%;
        margin-left: 5%;
    }
    .section-work{
        padding-right: 0;
    }
    .section-work-images div{
        width: 47%;
    }
    .blog{
        padding-right: 20px;
    }
}
@media (min-width:900px) and (max-width:1000px) {
    .menu-icon {
        z-index: -1;
    }
    .page-main-content{
        width: 94%;
    }
    .page-content{
        margin-left: 28%;
        width: 78%;
    }
    .frist-section{
        margin-left: 29%;
        width: 77%;
    }
    .first-section-content{
        padding-left: 12%;
    }
    .secound-section{
        width: 92%;
    }
    .padding-every-section{
        padding: 0 10px 0 13%;
    }
    .third-section{
        margin: 0 10px 0 12%;
    }
    .square-services-section , .square456-services-section{
        gap: 18px;
    }
    .fixed-image{
        width: 86%;
        margin-left: 10%;
    }
    .skills-section{
        width: 85%;
    }
    .section-work{
        width: 95%;
    }
    .section-work-images div{
        width: 47%;
    }
    .blog{
        padding-right: 20px;
    }
}
@media (min-width:770px) and (max-width:900px) {
    .menu-icon {
        z-index: -1;
    }
    .page-main-content{
        width: 94%;
    }
    .page-content{
        margin-left: 28%;
        width: 78%;
    }
    .frist-section{
        margin-left: 28%;
        width: 77%;
    }
    .first-section-content{
        padding-left: 22%;
    }
    .secound-section{
        width: 96%;
    }
    .squares div{
        float: left;
        width: 100%;
        margin-bottom: 30px
    } 
    .square-two ,.square-three{
        margin: 0;
    }  
    .padding-every-section{
        padding: 0 0 0 20%;
    }
    .squares div p{
        margin-top: 6%;
    }
    .rectangle-allert{
        padding: 10px 6%;
        height: 260px;
        margin-top: 900px;
        width: 100%;
    }
    .third-section{
        margin: 0 10px 0 19%;
    }
    .square-services-section , .square456-services-section{
        flex-direction: column;
        gap: 90px;
    }
    .square456-services-section{
        margin-top: 90px;
    }
    .first-square-services , .second-square-services , .third-square-services{
        width: 98%;
    }
    .fixed-image{
        width: 84%;
        margin-left: 16%;
        padding-top: 90px;
    }
    .skills-section{
        width: 85%;
    }
    .section-work{
        width: 95%;
    }
    .section-work-images div{
        width: 100%;
    }
    .blog{
        padding-right: 20px;
    }
    .blog-items{
        flex-direction: column;
    }
    .blog-items img{
        height: 700px;
    }
    .blog-items > div{
        width: 100%;
    }
    .inputs{
        flex-direction: column;
    }
    .inputs div{
        width: 100%;
    }
}
@media screen and (max-width:770px) {
    .fixed-section{
        width: 0px;
        transition: .5s;
    }
    .page-main-content{
        width: 91%;
        margin: 0 2%;
    }
    .page-content{
        width: 99%;
        margin-left: 0;
        padding-left: 5px;
    }
    .padding-every-section{
        padding: 0 0 0 2%;
    }
    .frist-section{
        width: 103%;
        margin-left: 0;
        text-align: center;
    }
    .first-section-content{
        padding-left: 0%;
    }
    .secound-section{
        width: 100%;
        margin-top: 100px;
    }
    .squares div{
        float: left;
        width: 100%;
        margin-bottom: 30px
    } 
    .square-two ,.square-three{
        margin: 0;
    }  
    .squares div p{
        margin-top: 6%;
    }
    .rectangle-allert{
        padding: 10px 6%;
        height: 260px;
        margin-top: 900px;
        width: 98%;
    }
    .third-section{
        margin: -70px 10px 0 3%;
    }
    .square-services-section , .square456-services-section{
        flex-direction: column;
        gap: 90px;
        width: 105%;
    }
    .square456-services-section{
        margin-top: 90px;
    }
    .first-square-services , .second-square-services , .third-square-services{
        width: 98%;
    }
    
    .fixed-image{
        width: 101%;
        margin-left: 0;
        padding-top: 90px;
    }
    .skills-section{
        width: 85%;
    }
    .bars{
        width: 110%;
    }
    .education-section{
        margin-top: 130px;
        width: 107%;
    }
    .section-experience {
        margin-top: -70px;
    }
    .section-work{
        margin-top: -70px;
        width: 95%;
    }
    .section-work-images div{
        width: 100%;
    }
    .blog{
        padding-right: 20px;
    }
    .blog-items{
        flex-direction: column;
    }
    .blog-items img{
        height: 700px;
    }
    .blog-items > div{
        width: 100%;
    }
    .contact-section{
        margin: -70px 0 100px 0;
    }
    .inputs{
        flex-direction: column;
    }
    .inputs div{
        width: 100%;
    }
}
@media screen and (max-width:520px){
    .section-work-ul li {
        font-size: 15px;
    }
}